<plugin name='domain-views' version='0.4.9' grailsVersion='2.2 &gt; *'>
  <author>Carlo Colombo</author>
  <authorEmail>carlo.colombo@openmindonline.it</authorEmail>
  <title>Domain Views Plugin</title>
  <description>Grails plugin that allows to define views via a custom DSL to convert beans to maps
</description>
  <documentation>http://grails.org/plugin/domain-views</documentation>
  <type>DomainViewsGrailsPlugin</type>
  <resources>
    <resource>it.openmindonline.domainviews.DomainViewsService</resource>
  </resources>
</plugin>